<section class="container">
  <div class="row">
    <h2 class="col-12"><%= t(:new_faq_category) %></h2>
    <div class="col-12">
      <%= render 'form', faq_category: @faq_category %>
    </div>
  </div>
</section>