<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <heliconZoo>
            <application name="ruby.project">
                <environmentVariables>
                </environmentVariables>
            </application>
        </heliconZoo>
        <handlers>
            <add name="ruby.project#x64" path="*" verb="*" modules="HeliconZoo_x64" scriptProcessor="ruby.1.9.rack" resourceType="Unspecified" requireAccess="Script" preCondition="bitness64" />
            <add name="ruby.project#x86" path="*" verb="*" modules="HeliconZoo_x86" scriptProcessor="ruby.1.9.rack" resourceType="Unspecified" requireAccess="Script" preCondition="bitness32" />
        </handlers>
    </system.webServer>
</configuration>
