<% breadcrumb :intro %>
<section id="intro" class="container sub-main">
  <div class="row">
    <h1 class="col-12 page-title"><%= @intro.title %></h1>
    <p class="col-12 page-description"><%= raw @intro.content %><p>
  </div>
  <div class="row">
    <article class="col-12 col-lg-6">
      <dl class="panel panel-default">
        <dt>자본금</dt>
        <dd>48,200,000원</dd>
        <dt>설립년도</dt>
        <dd>2021. 01. 23</dd>
        <dt>대표이사</dt>
        <dd>ccc</dd>
        <dl>
    </article>
    <article class="col-12 col-lg-6">
    </article>
  </div>
</section>
