<%= form_with(model: order, local: true, :html=>{:id=>"order_form"}) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this request from being saved:</h2>
      <ul>
        <% order.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.submit :class=>"btn btn-primary btn-lg btn-block" %>
  </div>
<% end %>
