<% breadcrumb :mypage %>
<section id="my-page" class="container sub-main">
  <div class="row">
    <h1 class="col-12 page-title"></h1>
    <p class="col-12 page-description"></p>
    <div class="col-12 col-lg-6">

    </div>
    <div class="col-12 col-lg-6">
      <article>
        <h3>구매내역</h3>
        <p></p>
      </article>
      <article>
        <h3>내정보</h3>
        <p></p>
      </article>
    </div>
  </div>
</section>
