<div id="main-main">
<%= render :partial => 'sliders/index' %>
<%= render :partial => 'products/index' %>
<div id="main-board" class="container">
  <div class="row">
    <%= render :partial => 'notices/index' %>
    <%= render :partial => 'boards/index' %>
  </div>
</div>
</div>
