<section id="add-order" class="container sub-main">
  <div class="row">
    <h2 class="col-12"><%=t(:new_order) %></h2>
    <div class="col-12">
      <%= render 'form', order: @order %>
    </div>
  </div>
</section>