<section class="container">
  <div class="row">
    <h2 class="col-12"><%=t(:edit_contact) %></h2>
    <div class="col-12">
      <%= render 'form', contact: @contact %>
    </div>
  </div>
</section>