/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@charset "utf-8";
@import "bootstrap";

@font-face {
  font-family: 'Nanum Gothic';
  src: local('☺'), url(asset-path('NanumGothic-Regular.eot?#iefix')) format('embedded-opentype'), url(asset-path('NanumGothic-Regular.woff')) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(asset-path('material-icon.woff2')) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%
}

body {
  font-family: 'Noto Sans KR', 'Nanum Gothic', '나눔고딕', 'Malgun Gothic', '맑은 고딕', '굴림', gulim, '돋움', Dotum, Arial, Helvetica, sans-serif;
  color: #333
}

label {
  vertical-align: middle;
  cursor: pointer
}

a img {
  border: none
}

input {
  vertical-align: middle
}

fieldset {
  border: none
}

legend {
  display: none
}

a {
  color: #666;
  text-decoration: none;
}

a:active {
  color: red
}

a:hover {
  color: #333;
  text-decoration: underline;
}

a img {
  border: none
}

h1 {
  font-size: 140%
}

h2 {
  font-size: 130%
}

h3 {
  font-size: 120%
}

h4, h5, h6 {
  font-size: 110%
}

/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
  display: block;
}

mark, rp, rt, ruby, summary, time {
  display: inline;
}

/* layout */
#mom {
  clear: both;
  float: left;
  width: 100%;
  padding: 0
}

.login-box {
  margin: 10px auto 80px
}

.page-header {
  margin-top: 30px;
  border-bottom: 1px solid #ccc
}

.page-header h1 {
  float: left;
  margin: 0.4em 0;
  padding: 0;
  text-indent: 0.5em;
  font-weight: bold;
  color: #666;
  border-left: 5px solid #ccc
}

.page-header .breadcrumbs {
  float: right;
  margin: 2em 0 0;
  font-size: 13px
}

.alert-success {
  clear: both
}

.container {
  max-width: 2500px
}

.modal-header {
  background: #37474f;
  color: #fff
}

.modal-header * {
  color: #eee
}

.modal-body, .modal-footer {
  background: #eee
}

.thead-default th {
  background-color: #868e96;
  color: #fff;
  font-weight: 600;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav-pills > li > a {
  border-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}


.no-display-title {
  font-size: 18px;
  text-indent: -9999px
}

#main-menu .nav .sub-menu {
  display: none;
  position: absolute;
  left: 0;
  min-width: 220px;
  max-width: 320px;
  top: 100%;
  background: #2F3C43;
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
  z-index: 9999;
}

.main-menu .sub-menu > li > a {
  padding: 5px 20px;
  display: block;
  color: #8a8f94;
  text-decoration: none;
  position: relative;
}


header .nav {
  margin-top: 30px
}

header .nav > li {
  position: relative
}

header .nav > li.sl-dropdown > .sl-dropdown-menu {
  position: absolute;
  top: 45px;
  left: 0;
  z-index: 999;
  border: 1px solid #ccc;
  background: #fff;
  padding: 0;
  display: none;
}

header .nav > li.sl-dropdown > .sl-dropdown-menu li {
  margin: 0;
  padding: 0;
}

header .nav > li.sl-dropdown > .sl-dropdown-menu li a {
  display: block;
  width: 100%;
  padding: 10px 30px;
}

header .nav > li.sl-dropdown > .sl-dropdown-menu li a i {
  vertical-align: middle;
  margin-right: 10px;
}

header .nav > li.sl-dropdown:hover > .sl-dropdown-menu {
  display: block;
}


/* Common Class */
$red_default: #f95090;
$red_hover: #ff96b4;
$blue_default: #50b9d8;
$blue_hover: #78dcff;
$green_default: #8dc63f;
$green_hover: #c8dc5c;
$blue_amicogen: #073683;

.arial {
  font-family: Arial
}

.noneData {
  text-align: center
}

.clear {
  clear: both
}

.none {
  display: none
}

.number {
  font-family: Arial;
  letter-spacing: 0
}

.clear {
  clear: both
}

.none {
  display: none
}

.wrapper {
  margin: 0 auto;
  width: 728px
}

.ad_test {
  background: red
}

.jumbotron {
  margin: 30px 0
}

.sl_categories span.hidden-xs {
  display: inline !important
}

.c_pointer {
  cursor: pointer
}

.card {
  margin-bottom: 15px
}

/* header */
header {
  position: relative;
  border-bottom: 1px solid #ccc;
  background: #fff
}

header h1 {
  margin-top: 35px
}

header h1 a {
  display: block;
  margin-left: 15px
}

header h1 a:hover {
  text-decoration: none
}

header h1 a:active {
  color: red
}

header nav {
  position: relative;
  z-index: 999;
  margin: 0;
  padding: 0
}

header nav ul {
  float: right;
  margin: 12px 0 0 0;
  padding: 0
}

header nav li {
  float: left;
  list-style: none;
  margin: 0 0 0 20px
}

header nav ul.nav-pills > li + li {
  margin-left: 20px
}

header nav a {
  float: left;
  color: #333;
  text-decoration: none
}

header nav a:hover {
  color: #000;
  text-decoration: none;
  background-color: #eee
}

header nav a:visited {
  color: #666
}

header nav a:active {
  color: red;
  background-color: #ccc
}

/* footer */
footer {
  clear: both;
  float: left;
  width: 100%;
  margin: 0;
  color: #666;
  background: #fff;
  text-align: left;
  border-top: 1px solid #e2e2e2;
  background: #eee
}

footer h2 {
  font-size: 120%
}

footer div {
  margin: 0.3em 0 0;
  font-size: 14px
}

footer div ul {
  list-style: none;
  margin: 0;
  padding: 0
}


.alert-success {
  clear: both
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

#main-main {
  padding-bottom: 2em
}

.sub-main {
  padding-bottom: 5em
}

.hidden-title {
  text-indent: -9999px
}

.carousel-indicators {
  position: absolute;
  bottom: 20px;
  margin-bottom: 0
}


.page-title {
  margin-top: 0;
  padding-top: 0;
  font-size: 110%
}

#contact-form {
  margin-top: 30px;
}

#main-slide figure {
  margin-bottom: 0
}

#main-board {
  margin-top: 2em;
  margin-bottom: 2em
}

#main-board article {
  position: relative
}

#main-board article h3 {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc
}

#main-board article a.more {
  position: absolute;
  top: 25px;
  right: 15px
}

#main-board article ul {
  margin: 0;
  padding: 0
}

#main-board article li {
  list-style: none;
  margin-bottom: 7px
}


#new_user article h3 {
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em;
  padding: 0.5em 0;
  text-indent: 1em;
  background: #eee
}

/* FAQ Category*/
#faqCategoryList {
  float: left;
  width: 100%;
  margin: 10px 0 0 0;
  padding: 0;
  background: #666;
  list-style: none
}

#faqCategoryList li {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  border-right: 1px solid #999
}

#faqCategoryList li a.title {
  float: left;
  white-space: nowrap;
  text-align: center;
  display: block;
  padding: 10px 30px;
  color: #fff;
  text-decoration: none
}

#faqCategoryList li.on {
  background: #f3f3f3
}

#faqCategoryList li.on a.title {
  background: #f3f3f3;
  color: #333
}

#faqCategoryList li.on .sl_faq_category_menu {
  float: right;
  background: #f3f3f3;
  color: #333
}

/* FAQ List */
#faqList {
  float: left;
  width: 100%;
  margin: 0;
  padding: 15px 0;
  background: #f3f3f3
}

#faqList dt {
  position: relative;
  float: left;
  width: 95%;
  display: inline;
  margin: 2px 0 0 15px;
  padding: 0;
  cursor: pointer;
}

#faqList dt.none {
  display: none
}

#faqList dt a.title {
  display: block;
  padding: 11px 0 11px 40px;
  color: #666;
  border-bottom: 1px solid #eee;
  background: #fff asset-url('board/toggle_open.png') no-repeat 10px 11px;
  text-decoration: none
}

#faqList dt a.title:hover {
  border-bottom: 1px solid #ddd;
}

#faqList dt .sl_faq_menu {
  position: absolute;
  top: 10px;
  right: 10px
}

#faqList dt.on a {
  background-position: 10px -46px;
}

#faqList dd {
  float: left;
  display: inline;
  width: 90%;
  margin: 5px 0 0 15px;
  padding: 5px 0 10px;
  line-height: 140%
}

#faqList dd p {
  float: left;
  clear: left;
  margin: 0;
  padding: 3px 10px 0 40px;
  letter-spacing: 0;
  line-height: 170%
}

#faqList dd span.wrap {
  float: left;
  font-family: Arial;
  border-radius: 0.2em 0.2em 0.2em 0.2em;
  color: #fff;
  display: inline;
  font-size: 11px;
  margin: 2px 10px 2px 40px;
  padding: 0 3px;
  background: #f90
}

#main-slide {
  margin-bottom: 1em
}

#main-products .product-category-head {
  position: relative;
  padding-bottom: 0.5em;
  margin-bottom: 2em
}

#main-products .product-category-head .more {
  position: absolute;
  top: 10px;
  right: 10px;
}

#main-products .product-category-head h2 {
  display: inline;
  margin-right: 1.5em
}

#main-products .product-category-head p {
  display: inline
}

#main-products .product-category {
  padding-top: 2em;
  padding-bottom: 2em
}

#main-products .product-category p {
  margin-bottom: 10px
}

#top-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 9999
}

#top-menu li {
  float: left;
  margin: 0;
  padding: 0;
  font-size: 14px
}

#top-menu li a {
  text-decoration: none;
  vertical-align: bottom;
}

#top-menu li a i {
  text-align: center;
  vertical-align: bottom
}

.product {
  margin-bottom: 2em
}

.product figure img {
  width: 100%
}

#show-product {
  padding-bottom: 2em
}

#show-product ul {
  margin: 0;
  padding: 0
}

#show-product li {
  float: left;
  list-style: none;
  margin: 0 10px 0 0;
  padding: 0
}

#show-product-nav ul {
  margin: 0;
  padding: 0
}

#show-product-nav ul li {
  float: left;
  list-style: none;
  margin: 0 30px 0 0;
  padding: 0
}

#show-product-nav ul li a {
  color: #fff;
  font-weight: bold
}

#product-info {
  padding-top: 20px;
  border-top: 1px solid #666
}

#sl_login_form {
  margin-top: 50px
}

#messages .alert {
  margin-top: 30px
}

@media all and (min-width: 992px) {
  html, body {
    font-size: 18px
  }
  header .container {
    margin: 0 auto;
    padding: 0
  }
  #top-menu nav ul li.nav-item {
    display: block;
    width: 50%;
    margin: 0;
    padding: 0
  }

  header {
    position: relative;
    z-index: 8;
    height: 86px;
    border-bottom: 1px solid #ccc
  }
  header .row {
    position: relative;
  }
  footer {
    height: 12em;
    line-height: 1.5
  }
  header nav {
    margin-top: 10px
  }
  header nav ul {
    margin: 0;
    padding: 0
  }
  header nav ul.nav-pills > li.active > a, header nav ul.nav-pills > li.active > a:hover, header nav ul.nav-pills > li.active > a:focus {
    color: #333
  }
  header nav ul.nav-pills li.red a, header nav ul.nav-pills > li.red > a:focus, header nav ul.nav-pills > li.active.red > a, {
    background: $red_default;
    color: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
  }
  header nav ul.nav-pills li.red a:hover {
    background-color: $red_hover
  }
  header nav ul.nav-pills li.blue a, header nav ul.nav-pills > li.blue > a:focus, header nav ul.nav-pills > li.active.blue > a, {
    background: $blue_default;
    color: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
  }
  header nav ul.nav-pills li.blue a:hover {
    background-color: $blue_hover
  }
  header nav ul li.open ul.sl-dropdown-menu {
    display: block
  }
  header nav ul li a {
    white-space: nowrap;
    font-weight: bold
  }
  header nav ul li ul {
    top: 70px;
    margin: 0
  }
  header nav ul li ul li {
    width: 100%;
    margin-bottom: 5px
  }
  header nav ul li ul li a {
    font-size: 90%
  }
  header nav ul li ul li a:hover {
    color: $blue_default;
    text-decoration: none
  }
  header nav ul li ul li.active a {
    color: #333
  }
  header nav ul.nav li.sl-dropdown {
    margin-left: 20px;
    margin-right: 20px
  }


  #main-products article.product-category {
    margin-bottom: 40px
  }

  footer nav {
    border-bottom: 1px solid #ccc
  }
  footer nav li {
    padding: 10px 5px
  }
  footer p {
    line-height: 150%
  }
  footer address {
    margin: 0;
    padding: 0;
    line-height: 150%
  }
}

@media all and (max-width: 768px) {
  #top_menu {display:none}
  #mobile_menu {display:block;position:absolute;top:5px;right:10px;}

  header {
    background: none;
    border-bottom: 0;
    margin: 1% 0
  }
  header h1 {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1.6em
  }
  header h1 a {
    display:inline;
    background: none;
    text-indent: 0;
    font-weight: bold
  }
  header h1 a:hover, header h1 a:hover {
    text-decoration: none
  }
  header h1 a:active, header h1 a:hover {
    color: red
  }
  header nav {
    float: left;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important
  }
  header nav ul {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    border-radius: 5px
  }
  header nav ul li, header ul li a {
    clear: both;
    float: left;
    width: 100%;
    text-align: left
  }
  header nav ul.nav-pills > li + li {
    margin-left: 0
  }
  header nav ul li {
    margin: 0;
    padding: 0;
    background: #fff
  }
  header nav ul li a {
    display: block;
    border-bottom: 1px solid #f3f3f3;
    text-indent: 1em;
    padding: 10px;
    border-radius: 5px
  }
  header nav ul li a:hover {
    text-decoration: none;
    background: #eee
  }
  header nav ul li a:active {
    color: red
  }
  .nav-pills > li + li {
    margin: 0
  }
  #mom {
    float: left;
    clear: both;
    width: 100%;
    margin: 0
  }
  #main {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    padding: 0;
    border-radius: 5px;
    background: #fff
  }


  #new_session_form label.text-right {text-align:left !important}
  .carousel-control-prev, .carousel-control-next { display:none}
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 1200px) {
  .container {
    width: 1150px;
  }
  #mom {
    clear: both;
    float: left;
    width: 100%;
    padding: 0;
    margin: -86px 0 -12em;
    min-height: 100%
  }
  #anon_body #mom {
    margin-top: 0
  }
  #main {
    padding-top: 86px;
    padding-bottom: 12em
  }
  #anon_body #main {
    padding-top: 0
  }
  .top-menu {
    height: 46px;
  }
}

@media (min-width: 1500px) {
  html, body {
    font-size: 18px
  }
  .container {
    width: 1500px
  }

  .sub-main {
    margin-top: 1.5em;
    margin-bottom: 1.5em
  }
}

