<section id="add-carts" class="container sub-main">
  <div class="row">
    <h2 class="col-12"><%=t(:new_cart) %></h2>
    <div class="col-12">
      <%= render 'form', cart: @cart %>
    </div>
  </div>
</section>