<div id="intro" class="container">
  <div class="row">
    <article class="col-12">
      <dl>
        <dt>제목</dt>
        <dd><%=@intro.title %></dd>
        <dt>내용</dt>
        <dd><%=@intro.content %></dd>
      </dl>
    </article>
    <div class="col-12">
      <%= link_to t(:link_edit), edit_admin_intro_path(@intro) %> &nbsp;
    </div>
  </div>
</div>
