<section class="container">
  <div class="row">
    <h2 class="col-12"><%= t(:new_product) %></h2>
    <div class="col-12">
      <%= render 'form', product: @product %>
    </div>
  </div>
</section>