<section class="container">
  <div class="row">
    <h2 class="col-12"><%=t(:new_product_category) %></h2>
    <div class="col-12">
      <%= render 'form', product_category: @product_category %>
    </div>
  </div>
</section>