<section class="container">
  <div class="row">
    <h2 class="col-12"><%= t(:edit_location) %></h2>
    <div class="col-12">
      <%= render 'form', location: @location %>
    </div>
  </div>
</section>