<% breadcrumb :info %>
<section id="info" class="container sub-main">
  <div class="row">
    <h1 class="col-12">접수방법</h1>
    <p class="col-12">접수방법은 뭐라고 써야 되나요??<p>
  </div>
  <div class="row">
    <article class="col-12">
      <dl class="panel panel-default">
        <dt class="panel-heading">접수 준비를 한다</dt>
        <dd class="panel-body">이렇게 저렇게 접수 준비를 한다</dd>
        <dt class="panel-heading">접수를 한다</dt>
        <dd class="panel-body">이렇게 저렇게 접수를 한다</dd>
        <dt class="panel-heading">접수를 마친다</dt>
        <dd class="panel-body">이렇게 저렇게 접수를 마친다</dd>
        <dl>
    </article>
  </div>
</section>
